[submodule "external/bytetrack"]
	path = external/bytetrack
	url = https://github.com/ifzhang/ByteTrack.git
[submodule "external/pytorch-openpose"]
	path = external/pytorch_openpose
	url = https://github.com/Hzzone/pytorch-openpose.git
[submodule "external/openpose"]
	path = external/openpose
	url = https://github.com/CMU-Perceptual-Computing-Lab/openpose.git
[submodule "external/light_openpose"]
	path = external/light_openpose
	url = https://github.com/Daniil-Osokin/lightweight-human-pose-estimation.pytorch.git
[submodule "external/synergy"]
	path = external/synergy
	url = https://github.com/choyingw/SynergyNet.git
